aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.14.2
apparmor==4.1.7
argcomplete==3.7.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asttokens==3.0.1
async-lru==2.3.0
attrs==26.1.0
autocommand==2.2.2
Automat==25.4.16
babel==2.18.0
bcc==0.36.1
bcrypt==5.0.0
beautifulsoup4==4.15.0
bleach==6.4.0
Brotli==1.2.0
certifi==2026.6.17
cffi==2.1.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
comm==0.2.3
configobj==5.0.9
constantly==23.10.4
contourpy==1.3.3
cryptography==49.0.0
curl_adapter==1.2.1
curl_cffi==0.15.0
cycler==0.12.1
Cython==3.2.8
dbus-fast==5.0.22
dbus-python==1.4.0
decorator==5.3.1
defusedxml==0.7.1
distlib==0.4.3
distro==1.9.0
dnspython==2.8.0
evdev==1.9.3
eventlet==0.41.0
executing==2.2.1
fail2ban==1.1.0
fastjsonschema==2.21.2
fido2==2.2.1
filelock==3.29.3
fonttools==4.63.0
frozenlist==1.8.0
gevent==26.5.0
Glances==4.5.5
gps==3.27.5
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpie==3.2.4
httpx==0.28.1
hyperlink==21.0.0
idna==3.18
importlib_metadata==9.0.0
Incremental==24.11.0
iotop==0.6
ipykernel==7.3.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
json5==0.15.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter_builder==1.1.0
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyterlab==4.6.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
keyring==25.7.0
kiwisolver==1.5.0
legacy-cgi==2.6.4
LibAppArmor==4.1.7
libmsym==0.2.4
lit==22.1.8.dev0
lxml==6.1.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.11.0
matplotlib-inline==0.2.2
mdurl==0.1.2
mistune==3.3.3
moddb==0.15.0
more-itertools==11.1.0
multidict==6.7.1
narwhals==2.23.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio==1.5.9
netsnmp-python==1.0a1
nftables==0.1
notebook==7.6.0
notebook_shim==0.2.4
numpy==2.5.1
OpenTimelineIO==0.18.1
orjson==3.11.9
packaging==26.2
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.6
perf==0.1
pexpect==4.9.0
pillow==12.3.0
pipx==1.15.0
pkg_resources==81.0.0
platformdirs==4.10.0
pooch==1.9.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
proton-core==0.7.0
proton-keyring-linux==0.2.2
proton-vpn-api-core==5.2.5
proton-vpn-cli==1.0.1
proton-vpn-daemon==0.13.7
proton-vpn-gtk-app==4.16.5
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyaaf2==1.7.1
pycairo==1.29.0
pycparser==3.0
pycurl==7.47.0
pydantic==2.13.4
pydantic_core==2.46.4
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
PyNaCl==1.6.2
pyOpenSSL==26.3.0
pyparsing==3.3.2
PySide6==6.11.1
PySocks==1.7.1
python-dateutil==2.9.0
python-discovery==1.4.4
python-gnupg==0.5.6
python-json-logger==4.1.0
python-linux-procfs==0.7.4
pytz==2026.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.1.0
QtPy==2.4.3
ranger-fm==1.9.4
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==2026.6.3
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
scikit-learn==1.9.0
scipy==1.18.0
SecretStorage==3.5.0
Send2Trash==1.8.3
sentry-sdk==2.65.0
setuptools==83.0.0
shiboken6==6.11.1
shtab==1.8.1
six==1.17.0
smbus==1.1
soupsieve==2.8.4
spglib==2.7.1.dev0+g12355c77f.d20260527
stack_data==0.6.4.dev0+g53501eb8b.d20251216
tabulate==0.10.0
TBB @ file:///build/onetbb/src/build/python/python_build
threadpoolctl==3.6.0
tinycss2==1.5.1
tomlkit==0.15.0
tornado==6.5.7
traitlets==5.15.1
Twisted==26.4.0
typing-inspection==0.4.2
typing_extensions==4.16.0
ufw==0.36.2
urllib3==2.7.0
userpath==1.9.2
validate==5.0.9
VapourSynth==77
virtualenv==21.6.1
wcwidth==0.8.2
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.47.0
xmltodict==1.0.4
yarl==1.23.0
yq==4.1.2
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
ytmusicapi==1.12.1
zipp==3.21.0
zope.event==6.2
zope.interface==8.5
